{{> header}}

<!-- All TASKS View -->
<div style="margin-top:3%; padding-top: 3%;" class="container">


    {{#each TASK}}

    {{!-- <a href="#/TASK/details/{{ id }}"  set the ID --}}

    {{else}}
    {{!-- NO TASKS --}}
    {{/each}}


</div>
<!-- All TASKS View -->
{{> footer}}